<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<%= stylesheet_link_tag "story", :media => "all" %>
    <%= javascript_include_tag 'jquery','application'%>
	<title><%=@title || "v1Stories"%></title>
</head>
<body>
    <div class="app-form" align="center"> <img src="/images/LeanDog.gif"/> </div>
    <div class="app-form" align="center"><h1>Story Card Printing</h1></div>
    <%= yield%>
    <div class="app-form" align="center"><p><%= flash[:notice] %></p></div>

</body>
</html>